<div class="example-container">
    <h2>Picas</h2>
    <div cdkDropList 
    #picasList="cdkDropList" 
    [cdkDropListData]="picas" 
    [cdkDropListConnectedTo]="[corazonesList,diamantesList]"
    cdkDropListSortingDisabled
        class="example-list" (cdkDropListDropped)="drop($event)">
        <div class="example-box" *ngFor="let item of picas" cdkDrag>
            <img src="../assets/Cartas/{{item}}">
        </div>
    </div>
</div>

<div class="example-container">
    <h2>Corazones</h2>
    <div cdkDropList 
    #corazonesList="cdkDropList" 
    [cdkDropListData]="corazones" 
    [cdkDropListConnectedTo]="[picasList,diamantesList]"
    cdkDropListSortingDisabled
        class="example-list" (cdkDropListDropped)="drop($event)">
        <div class="example-box" *ngFor="let item of corazones" cdkDrag>
            <img src="../assets/Cartas/{{item}}">
        </div>
    </div>
</div>

<div class="example-container">
    <h2>Diamantes</h2>
    <div cdkDropList 
    #diamantesList="cdkDropList" 
    [cdkDropListData]="diamantes" 
    [cdkDropListConnectedTo]="[picasList,corazonesList]"
    cdkDropListSortingDisabled
        class="example-list" (cdkDropListDropped)="drop($event)">
        <div class="example-box" *ngFor="let item of diamantes" cdkDrag>
            <img src="../assets/Cartas/{{item}}">
        </div>
    </div>
</div>

<div class="example-container">
    <h2>Treboles</h2>
    <div cdkDropList 
    #trebolesList="cdkDropList" 
    [cdkDropListData]="treboles" 
    cdkDropListSortingDisabled
    [cdkDropListConnectedTo]="[picasList,corazonesList]"
        class="example-list" (cdkDropListDropped)="drop($event)">
        <div class="example-box" *ngFor="let item of treboles" cdkDrag>
            <img src="../assets/Cartas/{{item}}">
        </div>
    </div>
</div>